<div class="container">
    <div class="col s12 l6">
        <div class="card-panel orange darken-3">
            <span class="white-text">
                <h5 class="center-align" >App {{ content['NombreEvento'] }}</h5>
                <h3 class="center-align" id="totalAppLeads">0</h3>     
            </span>
        </div>
    </div>
    <div class="col s12 l6">
        <div class="card-panel orange darken-3">
            <span class="white-text">
                <h5 class="center-align" >Scanner Mi/Mini</h5>
                <h3 class="center-align" id="totalThirdLeads">0</h3>     
            </span>
        </div>
    </div>
    <div class="col s12 l6 hide-on-med-and-down">
        <table>
            <tbody>
                <tr>
                    <th>
                        <a href="{{path ('ms_fp_dev_expositores_app_leads_base',{'idExpositor':content.idExpositor})}}" class="orange darken-3 waves-effect waves-light btn-large">
                            <i class="material-icons left">person</i>Mostrar escaneos con App
                        </a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div> 
    <div class="col s12 l6 hide-on-med-and-down">
        <table>
            <tbody>
                <tr>
                    <th>
                        <a href="{{path ('ms_fp_dev_expositores_leads_base',{'idExpositor':content.idExpositor})}}"class="orange darken-3 waves-effect waves-light btn-large ">
                            <i class="material-icons left">person</i>Mostrar escaneos con Terceros
                        </a>
                    </th>
                </tr>
            </tbody>
        </table>
    </div> 
</div>
