{% block body %}
    <table style="width: 80%;" >
        <tbody style="font-family: arial;">
            <tr>
                <td colspan="3">      
                  
                   
                    <p> 
                        Le notificamos que ha recibido un Comprobante Fiscal Digital ,  el cual está anexado como documento adjunto para su mayor comodidad en fomato .pdf y .xml.

                    </p>
                    <p> 
                        Tenga presente que este mensaje es una notificación automática, no la responda ya que esta cuenta no es monitoreada.
                    </p>
                   
                     <b>AVISO DE CONFIDENCIALIDAD:</b> <br>
                  
                   

                    <p>
                        Este mensaje es confidencial y/o puede contener información privilegiada. Si usted no es el destinatario o no es alguna persona autorizada por éste para recibir el mensaje, usted no deberá utilizar, copiar, revelar o tomar ninguna acción basada en este mensaje o cualquier otra información incluida en él. Si recibe este mensaje por error, por favor notifíquelo de inmediato al remitente y bórrelo de su computadora.
                    </p>  
                </td>
            </tr>

        </tbody>
    </table>
{% endblock %}