<div id="main_searchTable" class="graph_container">
    <table id="main_searchTab" class="highlight">
        <thead>
            <tr>
                <th>
                    Texto Buscado
                </th>
                <th style="width: 15%;">
                    Cantidad
                </th>                 
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>   
</div>
