<div id="main_categoriesTable" class="graph_container">
    <table id="main_categoriesTab" class="highlight">
        <thead>
            <tr>
                <th>
                    Categoria
                </th>
                <th style="width: 15%;">
                    Cantidad
                </th>                 
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>   
</div>