<div class='section hide-on-small-only'>
    <div class="row">  
        <div class='col m12 l6'>
            <a id="button-searches" class="waves-effect waves-light btn red darken-3 white-text export-searches" href="#!">
                <i class='material-icons left'>file_download</i>Descargar Todas las Búsquedas
            </a>
        </div>
        <div class='col m12 l6'>
            <a id="button-categories" class="waves-effect waves-light btn red darken-3 white-text export-categories" href="#!">
                <i class='material-icons left'>file_download</i>Descargar Todas las Categorias
            </a>
        </div>
    </div>
</div>
<div class='section hide-on-small-only'>
    <div class="row">  
        <div class='col l6 hide-on-med-only'>
            <a class="waves-effect waves-light btn modal-trigger red darken-3 white-text" href="#search_list">
                <i class='material-icons left'>search</i>Mostrar Listado de Búsquedas
            </a>
        </div>
        <div class='col l6 section hide-on-med-only'>
            <a class="waves-effect waves-light btn modal-trigger red darken-3 white-text" href="#categories_list">
                <i class='material-icons left'>layers</i>Mostrar Todas las Categorias
            </a>
        </div>
    </div>
</div>