<div id="main_exTable" class="graph_container">
    <div class="row">
        <div class="col s4 center">
            Filtrar destacados:
        </div>
        <div class="col s4 center">
            Filtrar expositores con recorrido:
        </div>
        <div class="col s4 center">
            Filtrar expositores con lectoras:
        </div>
    </div>
    <div class="row">
        <div class="col s4 center switch">                
            <label>
                No
                <input type="checkbox" id="featured-filter" name="featured-filter" class="flipswitch" data-col="1">
                <span class="lever"></span>
                Si
            </label>
        </div>
        <div class="col s4 center switch">
            <label>
                No
                <input type="checkbox" id="mytour-filter" name="mytour-filter" class="flipswitch" data-col="2" >
                <span class="lever"></span>
                Si
            </label>
        </div>
        <div class="col s4 center switch">
            <label>
                No
                <input type="checkbox" id="retrieval-filter" name="retrieval-filter" class="flipswitch" data-col="3">
                <span class="lever"></span>
                Si
            </label>
        </div>
    </div>

    <table id="main_exTab" class="highlight">
        <thead>
            <tr>
                <th>
                    Nombre
                </th>
                <th>
                    Paquete
                </th>
                <th>
                    Recorrido
                </th>
                <th>
                    Lecturas
                </th>                
                <th title="Texto para ayudar al usuario" class="tip" data-toggle='tooltip' data-placement='bottom'>
                    Cantidad de clics
                </th>
                <th>
                    Detalle
                </th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>   
</div>