<div class="container">
    <div class="col s12 l6">
        <div class="card-panel blue darken-3">
            <span class="white-text">
                <h5 class="center-align" >Total de Clics</h5>
                <h3 class="center-align" id="totalClicks">0</h3>     
            </span>
        </div>
    </div>
    <div class="col s12 l6">
        <div class="card-panel blue darken-3">
            <span class="white-text">
                <h5 class="center-align" >Total de Vistas</h5>
                <h3 class="center-align" id="totalViews">0</h3>     
            </span>
        </div>
    </div>
    <div class="col s12 l6">
        <div class="card-panel blue darken-3">
            <span class="white-text">
                <h5 class="center-align" >Promedio de Clics por día</h5>
                <h3 class="center-align" id="averageClicks">0</h3>     
            </span>
        </div>
    </div>
    <div class="col s12 l6">
        <div class="card-panel blue darken-3">
            <span class="white-text">
                <h5 class="center-align" >Promedio de Vistas por día</h5>
                <h3 class="center-align" id="averageViews">0</h3>     
            </span>
        </div>
    </div>
    <div class="col s12">
        <div class="card-panel blue darken-3">
            <span class="white-text">
                <h5 class="center-align" >Total de Visitas</h5>
                <h3 class="center-align" id="totalVisits">0</h3>     
            </span>
        </div>
    </div>
    <div class="col s12 l6">
        <div class="card-panel blue darken-3">
            <span class="white-text">
                <h5 class="center-align" >Visitantes que solo ingresaron una vez</h5>
                <h3 class="center-align" id="totalOneTimeVisits">0</h3>     
            </span>
        </div>
    </div>
    <div class="col s12 l6">
        <div class="card-panel blue darken-3">
            <span class="white-text">
                <h5 class="center-align" >Visitantes que ingresaron mas de una vez</h5>
                <h3 class="center-align" id="totalComebackVisits">0</h3>     
            </span>
        </div>
    </div>
    <div class="col s12">
        <div class="card-panel blue darken-3">
            <span class="white-text">
                <h5 class="center-align" >Visitantes Registrados que ingresaron al plano</h5>
                <h3 class="center-align" id="totalRegisteredVisits">0</h3>     
            </span>
        </div>
    </div>
</div>