<table class="striped">
    <thead class="blue darken-3 white-text">
        <tr>
            <th>
                Especificacion
            </th>
            <th class="right">
                Cantidad
            </th>
        </tr>
    </thead>
    <tbody>
        <tr class="top_row">
            <td class="top_row_text">Total de Clics</td>
            <td id="top_total_click" class="right top_row_value">0</td>
        </tr>
        <tr class="top_row">
            <td class="top_row_text">Total de Vistas</td>
            <td id="top_total_view" class="right top_row_value">0</td>
        </tr>
        <tr class="top_row">
            <td class="top_row_text">Promedio de Clics por día</td>
            <td id="top_average_clicks" class="right top_row_value">0</td>
        </tr>
        <tr class="top_row">
            <td class="top_row_text">Promedio de Vistas por día</td>
            <td id="top_average_views" class="right top_row_value">0</td>
        </tr>
        <tr class="top_row">
            <td class="top_row_text">Promedio de interacciones por Expositor</td>
            <td id="top_average_ex" class="right top_row_value">0</td>
        </tr>
        <tr class="top_row">
            <td class="top_row_text">Total de búsquedas</td>
            <td id="top_total_search" class="right top_row_value">0</td>
        </tr>
        <tr class="top_row">
            <td class="top_row_text">Total de "Mi Recorrido"</td>
            <td id="top_total_mytour" class="right top_row_value">0</td>
        </tr>
        <tr class="top_row">
            <td class="top_row_text">Total de lecturas de gafete</td>
            <td id="top_total_retrievalreads" class="right top_row_value">0</td>
        </tr>
        <tr class="top_row">
            <td class="top_row_text">Expositores que usaron lectoras de gafetes</td>
            <td id="top_total_retrievalexh" class="right top_row_value">0</td>
        </tr>
        <tr class="top_row">
            <td class="top_row_text">Total de Visitas</td>
            <td class=" data_visitor_A right top_row_value" >0</td>
        </tr>
        <tr class="top_row">
            <td class="top_row_text">Visitantes que solo ingresaron una vez</td>
            <td class=" data_visitor_B right top_row_value">0</td>
        </tr>
        <tr class="top_row">
            <td class="top_row_text">Visitantes con "Mi Recorrido"</td>
            <td class=" data_visitor_C right top_row_value">0</td>
        </tr>
        <tr class="top_row">
            <td class="top_row_text">Visitantes que ingresaron más de una vez</td>
            <td class=" data_visitor_D right top_row_value">0</td>
        </tr>
        <tr class="top_row">
            <td class="top_row_text">Visitantes Registrados que ingresaron al plano</td>
            <td class=" data_visitor_E right top_row_value">0</td>
        </tr>
    </tbody>
</table>