<div class="col s12 l6">
    <table class="striped">
        <caption class="white-text" style="background-color: #c62828">Tabla con Top 10 de Textos buscados</caption>
        <thead class="red darken-3 white-text">
            <tr>
                <th>
                    Texto Buscado
                </th>
                <th class="center" style="width: 15%;">
                    Cantidad
                </th>                 
            </tr>
        </thead>
        <tbody class="content"></tbody>
    </table>
</div>
<div class="col s12 l6">
    <table class="striped">
        <caption class="white-text" style="background-color: #c62828">Tabla con Top 10 de Categorias buscadas</caption>
        <thead class="red darken-3 white-text">
            <tr>
                <th>
                    Categoría Buscada
                </th>
                <th class="center" style="width: 15%;">
                    Cantidad
                </th>                 
            </tr>
        </thead>
        <tbody class="content"></tbody>
    </table>
</div>
