<table class="striped ">
    <caption class="white-text" style="background-color: #2e7d32">Tabla con Top 10 de Expositores</caption>
    <thead class="green darken-3 white-text">
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Paquete
            </th>
            <th class="center">
                Recorridos
            </th>
            <th class="center">
                Leads de App
            </th>
            <th class="center">
                Leads de Scanner
            </th>
            <th class="center">
                Clics recibidos
            </th>
        </tr>
    </thead>
    <tbody class="content"></tbody>
</table>    
