/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Feb 7, 2017, 4:53:44 PM
    Author     : Eduardo
*/
th, td{
    padding: 5px;
}
td i.fa{
    cursor: pointer !important;
}
a.disabled{
    cursor: not-allowed !important;
}