/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Dec 28, 2016, 4:20:56 PM
    Author     : JL
*/

.container{
    width: 65% !important;
}
.space-label{
    padding-bottom: 5px;
}
/*----------------------------------------------------------------------*/
.mid-content{
    width: 50%;
    float: left;
}

.paging_listbox > select{
    height: 2rem !important;
}
.dataTables_length > label > select{
    height: 2rem !important;
}
table .btn{
    padding: 0rem 1rem !important;
}
