<div id="main_productsTable" class="graph_container">
    <table id="main_productsTab" class="hightlight">
        <thead>
            <tr>
                <th>
                    {{ content['textosGenerales']['msapi_product'] }}
                </th>
                <th>
                    {{ content['textosGenerales']['msapi_category'] }}
                </th>
                <th>
                    {{ content['textosGenerales']['msapi_amountOfClicks'] }}
                </th>                 
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>   
</div>