<div class="row " id="headerOptions">
    <div class="col s12 center">
        <h4>{{ content["textos"]["ms_descripcionVisitantes"]}}</h4>        
    </div>
</div>
<div id="slide-list-div">
    <div class="row">
        <div id="cover-visitor-table" class="col-xs-12"></div>            
    </div>
</div>