/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Jan 25, 2017, 10:31:10 AM
    Author     : Eduardo
*/
#gafetes{
    margin-bottom: 15px;
}
table .btn {
    padding: 0 1rem;
}