<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
       
    </head>
    <body>
        
            <div class="container"><img src="{{ asset("images/Header2022.png") }}" class="responsive-img" ></div>
        

        {# <table>
             <thead>
                 <tr>
                     <th>
                     </th>
                 </tr>
             </thead>
             <tbody>
                 <tr>
                    <td  style="text-align: center;">
                        
                        <img src="{{ asset("images/logo_EAAM21-con-fondo.png") }}" class="responsive-img" ></td>
                 </tr>
             </tbody>
         </table>#}
    </body>
</html>

