<div class="supported-browsers" style="display: none">
    <div class="supported-browsers-content">
         <h5>{{ content["textos"]["fp_soporteNavegadorTitulo"]}}</h5>
        <label><span class="ui-icon ui-icon-info" style="display: inline-block;vertical-align: middle;margin: 0px 4px;"></span>{{ content["textos"]["fp_soporteNavegadorDescripcion"]}}</label>
        <div class="content-browser">
            <div class="browser">
                <a href="https://www.google.com/intl/es-419/chrome/browser/" target="_blank">
                    <img src="{{ asset('images/navegadores/chrome.png') }}" alt="chrome" title="Descargar" />
                </a>
                <span>Google Chrome</span>
            </div>
        </div>
        <label class="soporte">{{ content["textos"]["fp_soporteTecnico"]}}: <a href="#">soporte@infoexpo.com.mx</a></label>
    </div>
</div>

