<div color-selector="ae_colorFondoBody">
    <nav class="navbar-header" color-selector="ae_colorFondoHeader">
        <div class="nav-wrapper row">
            <div class="col s12 m4 center-align">
                <div class="dropzone" id="ae_logo_1" lang="{{ lang }}" folder="header"></div>
            </div>
            <div class="col s12 m4 center-align">
                <div class="dropzone" id="ae_logo_2" lang="{{ lang }}" folder="header"></div>
            </div>
            <div class="col s12 m4 center-align">
                <div class="dropzone" id="ae_logo_3" lang="{{ lang }}" folder="header"></div>
            </div>
        </div>
    </nav>
    <nav color-selector="ae_colorFondoMenu">
        <div class="nav-wrapper">
            <ul id="nav-mobile" class="right">
                <li><a color-selector="ae_colorTextoMenu" class="waves-effect waves-light">Datos Generales</a></li>
                <li><a color-selector="ae_colorTextoMenu" class="waves-effect waves-light">Mis Amigos</a></li>
                <li><a color-selector="ae_colorTextoMenu" class="waves-effect waves-light">Comprobante</a></li>
                <li>
                    <a color-selector="ae_colorTextoMenu" class="waves-effect waves-light">
                        <i class="material-icons left">account_circle</i> NOMBRE VISITANTE <i class="material-icons right">arrow_drop_down</i>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <h5 color-selector="ae_colorTextoSeccion">Nombre de la Sección</h5>
        <div class="card">
            <div class="card-content">
                <span class="card-title" 
                      color-selector="ae_colorTituloCard"
                      style="font-size: 1.1rem; font-weight: 400; line-height: 1.5rem;"
                      >Título Card</span>
            </div>
        </div>
        <div>
            <button type="button" class="btn waves-effect waves-light" color-selector="ae_colorFondoBotonPrimario">
                <span color-selector="ae_colorTextoBotonPrimario">Botón Primario</span>
            </button>
        </div>
        <br>
    </div>
</div>