.container {
    max-width: none;
    width: 90%;
}
.space-label{
    padding-bottom: 5px;
}
/*-----------------------------------------------------------------------*/
.paging_listbox > select{
    height: 2rem !important;
}
.dataTables_length > label > select{
    height: 2rem !important;
}
.content-btns a{
    padding: 0rem .7rem !important;
    margin: 0rem .5rem !important;
    font-size: .83rem !important;
}
/*-----------------------------------------------------------------------*/
#delete-record-modal{
    max-width: 30%;
}
#change-financial-modal{
    height: 35% !important;
}