<tr>
    <td colspan="4">
        <table border="1" width="100%">
            <tr style="background-color: #eee;">
                <td colspan="5" style="color: black;font-size: 14px;">
                    AUTORIZACIONES
                </td>
                <td  style="color: white;font-size: 14px; background-color: black; text-align: center;">
                    5
                </td>
            </tr>
            <tr>
                <td colspan="3" style="color: black;font-size: 10px; text-align: center; font-weight: bold;">
                    SOLO PARA LLENADO DE ANTAD, A.C.
                </td>
                <td colspan="3" style="color: black;font-size: 10px; text-align: right;"></td>
            </tr>
            <tr>
                <td style="color: black;font-size: 10px; font-size: 10px; vertical-align: bottom">{{ content['vendedor']['Nombre'] }}</td>
                <td style="color: black;font-size: 10px; font-size: 40px;">&nbsp;</td>
                <td style="color: black;font-size: 10px;; font-size: 10px; vertical-align: bottom">MANUEL ALVAREZ CORONA</td>
                <td colspan="3" style="color: black;font-size: 10px; font-size: 40px;">&nbsp;</td>
            </tr>
            <tr>
                <td style="color: black;font-size: 10px;text-align: center;">Nombre y Firma Asesor Comercial</td>
                <td style="color: black;font-size: 10px;text-align: center;">Firma Cobranza</td>
                <td style="color: black;font-size: 10px;text-align: center;">Firma Validación Convención</td>
                <td colspan="3" style="color: black;font-size: 10px;text-align: center;">NOMBRE Y FIRMA DEL EXPOSITOR*</td>
            </tr>
            <tr>
                <td colspan="1" style="color: black;font-size: 10px;text-align: left;">
                    FON-03 Rev. 23 HOJA 1
                </td>
                <td colspan="5" style="color: black;font-size: 10px;text-align: right; font-weight: bold;">
                    *A la Firma de este Convenio de Confirmación de Stands, manifiesto que conozco y me
                    fue entregado el Reglamento de Exposición, el cuál me comprometo a cumplir.
                </td>
            </tr>
            <tr>
                <td colspan="6" style="color: black;text-align: left;font-size: 10px !important;">
                    {{content['section_text']['sas_instruccionesConvenio']|raw}}
                </td>
            </tr>
            <tr>
                <td colspan="3" style="color: black;font-size: 10px;;text-align: left;">
                    FON-03 Rev. 23 HOJA 3
                </td>
                <td colspan="3" style="color: black;text-align: right; font-weight: bold; font-size: 40px;">
                    &nbsp;
                </td>
            </tr>
            <tr>
                <td colspan="3" style="color: black;font-size: 10px;text-align: left;">
                </td>
                <td colspan="3" style="color: black;font-size: 10px;text-align: center; font-weight: bold;">
                    NOMBRE Y FIRMA DEL EXPOSITOR
                </td>
            </tr>
        </table>
    </td>
</tr>
</table>