{% extends '::base_email.html.twig' %}


{% block body %}
    <div>
        <strong>Instrucciones para el Ingreso del Personal:</strong>
        <ul>
            <li><strong>TODO EL PERSONAL QUE INGRESE AL PISO DE EXPOSICIÓN DURANTE LOS DÍAS DE MONTAJE DEBERÁ PORTAR CASCO</strong> </li>
            <li>Si su empresa <ins>si</ins> aparece registrada en esta ficha favor de presentarse en el Módulo de Seguridad con su ficha para su registro.</li>
            <li>Deberá traer lista del personal que estará registrando para su ingreso, si no cuenta con la lista deberá anotar a todas las personas en el formato que le entregará el módulo de seguridad. </li>
            <li>Si su empresa <ins>no</ins> aparece registrada en esta ficha, deberá presentarse en el Modulo de Seguridad con una carta membretada del expositor autorizando su ingreso a montaje.</li>
            <li><ins>Todos</ins> las personas que ingresen durante el Montaje deberán vestir playera con el logotipo de la empresa, usar el equipo de seguridad debido.</li>
        </ul>
    </div>
{% endblock %}

