

<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
    </head>
    <body>
        <table>
            <thead>
                <tr style="font-size: 17px;">
                    <td  style="text-align: center">
                        <b>
                            VISITANTE
                        </b>
                        <br>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td  style="text-align: center;"><img src="{{ asset("images/footer_gafete_2022.png") }}" class="responsive-img" ></td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
