<div id="mdl-delete-edition" class="modal">
    <div class="modal-content">
    	{# pendiente agregar los encabezados de tabla de acuerdo a los textos en la base de datos#} 
        <h4>Eliminar la Edicion</h4>
        <p>¿Está seguro de eliminar esta edición?</p>
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-red btn-flat left">{{content['general_text']['sas_cancelar']}}</a>
        <button id="delete-record" type="button" class="modal-action waves-effect waves-red btn-flat red white-text" data-action="delete">{{content['general_text']['sas_eliminar']}}</button>
    </div>
</div>
