<div id="filter-combo" class="container-fluid">
    <div class="row">
        <form id="filters-form" class="col s12"></form>
    </div>
    <div style="text-align: right;">
        <button type="button" id="cancel" class="waves-effect waves-gray btn-flat">{{content['general_text']['sas_cerrar']}}</button>
        <button type="button" id="clearFilters" class="waves-effect waves-blue btn-flat blue white-text">{{content['general_text']['sas_borrarFiltros']}}</button>
        <button type="button" id="applyFilters" class="waves-effect waves-green btn-flat green white-text">{{content['general_text']['sas_aplicarFiltros']}}</button>
    </div>
</div>
