.socio-menu {
    height: 40px;
    line-height: 40px;
    position: fixed;
    z-index: 10;
    display: inline-table;
}
.socio-menu + div {
    margin-top: 50px;
}
nav ul li.active {
    background-color: lightslategrey !important;
    border-radius: 15px 15px 0px 0px;
}